<br>
<h2 class="page-header" align="center">Profile Page</h2>
<br>
<div align="center">
  Username: {{ username }}
  <br>
  <br> Email: {{ email }}
  <br>
  <br> Network address: {{ accountAddress }}
  <br>
  <br>
  <span *ngIf="isInstitution && factoryAddress !== '' && factoryAddress !== '0x0000000000000000000000000000000000000000'">Factory address: {{ factoryAddress }}</span>

  <div *ngIf="isInstitution && (factoryAddress === '' || factoryAddress === '0x0000000000000000000000000000000000000000')">

    <br>
    <br>

    <mat-form-field class="input-field">
      <input matInput [(ngModel)]="markupPercentage" type="number" name="markupPercentage" placeholder="enter markup % to charge"
        class="markupPercentage" (keyup.enter)="createFactory();" />
    </mat-form-field>

    <br>
    <br>

    <!-- Create factory button -->
    <button mat-raised-button class="button" name="button" color="primary" type="submit" (click)="createFactory();">Create</button>
  </div>

</div>
