<br>
<h2 class="page-header" align="center">Profile Page</h2>
<br>
<div align="center">
  Username: {{ username }}
  <br>
  <br> Email: {{ email }}
  <br>
  <br> Network address: {{ accountAddress }}
  <br>
  <br> Factory address: {{ factoryAddress }}

  <br>
  <br>

  <mat-form-field *ngIf="factoryAddress === ''" class="input-field">
    <input matInput [(ngModel)]="markupPercentage" type="number" name="markupPercentage" placeholder="enter markup % to charge"
      class="markupPercentage" (keyup.enter)="createFactory();" />
  </mat-form-field>

  <br>
  <br>

  <!-- Create factory button -->
  <button *ngIf="factoryAddress === ''" mat-raised-button class="button" name="button" color="primary" type="submit" (click)="createFactory();">Create</button>

</div>
