<h1 class="page-header">Edit Listing</h1>

<!-- Custom success/error message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Edit listing form -->
<form (submit)="updateListingSubmit()" *ngIf="!loading">
  <!-- Title field -->
  <div class="form-group">
    <label for="title">Title</label>
    <!-- Title input -->
    <input [disabled]="processing" type="text" name="title" placeholder="enter listing title" class="form-control" [(ngModel)]="listing.title" #title="ngModel" />
  </div>

  <!-- Body field -->
  <div class="form-group">
    <label for="body">Body</label>
    <!-- Body input -->
    <textarea [disabled]="processing" name="body" rows="8" cols="80" [(ngModel)]="listing.body" #body="ngModel" class="form-control" placeholder="enter listing body"></textarea>
  </div>

  <!-- Delete button -->
  <a [routerLink]="['/delete-listing/', listing._id]"><button  [disabled]="processing"  type="button" name="button" class="btn btn-danger">Delete</button></a>
  <!-- Go back button -->
  <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Go back</button>
  <!-- Save changes button -->
  <button [disabled]="processing || (!title.dirty && !body.dirty)" type="submit" name="save" class="btn btn-info">Save changes</button>

</form>
