<!-- card login / registration -->
<div class="card login">
  <img class="profile-photo" src="{{ this.user.photo }}" *ngIf="user!=null" (click)="goToMyProfile();">
  <label class="welcome-label" *ngIf="user!=null">Καλώς ήρθες, {{ user.firstName }}!
  </label>
  <h1 class="headline">OK!ERGO</h1>
  <button class="button" routerLink="/eggrafi" *ngIf="user==null">
    <span>Εγγραφή</span>
  </button>
  <button class="button" routerLink="/eisodos" *ngIf="user==null">
    <span>Είσοδος</span>
  </button>
  <button class="button" (click)="logout()" *ngIf="user!=null">
    <span>Έξοδος</span>
  </button>
  <button class="button" routerLink="/oi-aggelies-mou" *ngIf="user!=null">
    <span>Οι αγγελίες μου</span>
  </button>
</div>

<!-- card search -->
<div class="card search">
  <mat-button-toggle-group #categories="matButtonToggleGroup" class="categories" (change)="selectCategory(categories.value);">
    <mat-button-toggle value="All" checked=true>
      <mat-icon>check box</mat-icon>
      <b>All items</b>
    </mat-button-toggle>
    <mat-button-toggle value="Electronics">
      <mat-icon>devices</mat-icon>
      <b>Electronics</b>
    </mat-button-toggle>
    <mat-button-toggle value="Books">
      <mat-icon svgIcon="book"></mat-icon>
      <b>Books</b>
    </mat-button-toggle>
    <mat-button-toggle value="Fashion">
      <mat-icon svgIcon="fashion"></mat-icon>
      <b>Fashion</b>
    </mat-button-toggle>
    <mat-button-toggle value="Sports">
      <mat-icon svgIcon="sports"></mat-icon>
      <b>Sports</b>
    </mat-button-toggle>
    <mat-button-toggle value="Home">
      <mat-icon svgIcon="home"></mat-icon>
      <b>Home</b>
    </mat-button-toggle>
    <mat-button-toggle value="Motors">
      <mat-icon svgIcon="car"></mat-icon>
      <b>Motors</b>
    </mat-button-toggle>
    <mat-button-toggle value="Collectables">
      <mat-icon svgIcon="collectables"></mat-icon>
      <b>Collectables</b>
    </mat-button-toggle>
    <mat-button-toggle value="Other">
      <mat-icon>more</mat-icon>
      <b>Other</b>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <br>
  <br>

  <label class="search-label">search
    <span *ngIf="query" [innerHTML]="' for: ' + query"></span>
  </label>
  <input class="search-input" [(ngModel)]="term" placeholder="type in search term here" [ngModelOptions]="{updateOn: 'change'}"
    onfocus="this.value=''">
</div>

<div class="grid-list-container" *ngIf="!term && user!=null && user.role!='admin'">
  <h2 *ngIf="recommendedItems">Προτάσεις</h2>
  <mat-grid-list cols="3" gutterSize="16">
    <mat-grid-tile *ngFor="let item of recommendedItems">
      <app-item [item]="item" (click)="setListing(item)">
      </app-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="grid-list-container" *ngIf="term">
  <mat-grid-list cols="3" gutterSize="16" *ngIf="term">
    <mat-grid-tile *ngFor="let item of items | search : term">
      <app-item [item]="item" (click)="setListing(item)">
      </app-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
