<div *ngIf="loading">
  <h3 align="center">Loading - please wait...</h3>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
  <br>
</div>

<div align="center">
  <h3>Please login:</h3>
  <mat-form-field class="input-field">
    <input matInput type="text" [(ngModel)]="username" name="username" placeholder="enter username" class="username" (keyup.enter)="getUser(username)"
    />
  </mat-form-field>

  <p>
  </p>

    <mat-form-field class="input-field">
      <input matInput type="password" [(ngModel)]="password" name="password" placeholder="enter password" class="password" (keyup.enter)="getUser(username)"
      />
    </mat-form-field>

    <p>

      <button mat-raised-button color="primary" (click)="getUser(username)">Login</button>
</div>