<div class="feedback-item" *ngIf="feedbackPercentage > 0">
	<div class="inline-block">
		<div class="star">
			<div class="rating" [style.width.%]="feedbackPercentage">
				<span>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</span>
			</div>
		</div>
	</div>
	<h3 class="inline-block username link" (click)="visitProfile()" [routerLink]="['/profile', feedback?.userID]">&ndash; {{ feedback?.username }}</h3>
	<h3 *ngIf="feedback.name != null" class="inline-block"> bought</h3>
	<h3 *ngIf="feedback.name != null" class="inline-block link" (click)="setItem()" [routerLink]="['/items', item?.itemID]"> {{ feedback?.name }}</h3>
	<h4 class="comment" *ngIf="feedback.comment != null"> "{{ feedback?.comment }}"</h4>
</div>