.feedback-box {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  background: white;
  padding: 20px 20px 20px 20px;
}

.text-centre {
  text-align: center;
}

#comment {
  height: 100px;
  resize: vertical;
  width: 100%;
}

#submit-feeback-btn {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  text-align: center;
}

/* taken from https://jsfiddle.net/shadiabuhilal/0kwnb7ph/3/ */
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 100px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
  display: inline-block;
}

.rating>label {
  float: right;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
  background: transparent;
  border: none;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input.radio-btn:checked~label {
  color: transparent;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input.radio-btn:checked~label:before,
.rating>input.radio-btn:checked~label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
  background: transparent;
}
