<div class="item-photo" [ngStyle]="{'background-image': 'url(' + item?.photo + ')'}"></div>
<div class="item-name" *ngIf="item?.quantity == 1">{{ item?.name }}</div>
<div class="item-name" *ngIf="item?.quantity > 1">{{ item?.name }} &times; {{ item?.quantity }}</div>
<div class="item-info">
  <h3 class="item-category">{{ item?.categoryName }}</h3>
  <h3 class="item-highestBid" *ngIf="item.highestBid!=null"> £{{ item?.highestBid }}</h3>
  <h3 class="item-highestBid" *ngIf="item.highestBid==null"> £{{ item?.startPrice }}</h3>
  <h3 class="item-date"> {{ datePosted }}</h3>
</div>

