<router-outlet></router-outlet>

<!-- card logout -->
<div class="card login">
  <img class="profile-photo" src="{{ this.user.photo }}" *ngIf="user!=null" (click)="goToMyProfile();">
  <label class="welcome-label" *ngIf="user!=null">Welcome, {{ user.firstName }}!</label>
  <h1 class="headline">OK!ERGO</h1>
  <button class="button" routerLink="/register" *ngIf="user==null">
    <span>Register</span>
  </button>
  <button class="button" routerLink="/login" *ngIf="user==null">
    <span>Login</span>
  </button>
  <button class="button" (click)="logout()" *ngIf="user!=null">
    <span>Logout</span>
  </button>
  <button class="button" (click)="goBack()" *ngIf="user!=null">
    <span>My Items</span>
  </button>
</div>

<br>
<br>
<br>
<br>

<!-- item details -->
<section class="card item-details">
  <h1 class="item-name">{{ listing?.title }}</h1>
  <br>
  <!-- info -->
  <div class="info">
    <div class="info-columns">
      <div class="left-items">

        <div>

          <div class="slideshow-container">

            <div class="mySlides fade">
              <img class="item-photo" src="{{ listing?.photo }}" alt="{{ listing?.listingID }}">
            </div>

          </div>
          <br>

        </div>

        <h3 class="item-description">{{ listing?.description }}</h3>
        <br>
        <br>
        <div class="item-left userinfo-box">
          <div class="vertical-align">
            <h3 id="sellerInfo" class="sellerInfo">Seller: </h3>
            <h3 id="sellerName" class="sellerName link" [routerLink]="['/profile', seller?.username]">{{ seller?.username }}</h3>
            <div class="star" title="{{ seller?.username }}'s average rating">
              <div class="rating" [style.width.%]="sellerRating">
                <span>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</span>
              </div>
            </div>
            <h6 class="ratingcount" *ngIf="sellerFeedbackCount > 1">({{ sellerFeedbackCount }} people have rated {{ seller?.username }})</h6>
            <h6 class="ratingcount" *ngIf="sellerFeedbackCount == 1">({{ sellerFeedbackCount }} person has rated {{ seller?.username }})</h6>
            <h6 class="ratingcount" *ngIf="sellerFeedbackCount == 0">({{ seller?.username }} is yet unrated)</h6>
          </div>
        </div>
      </div>

      <div class="right-items">
        <h3 class="item-right" *ngIf="listing && highestBid">Current bid: £{{ highestBid }} </h3>
        <br *ngIf="listing && highestBid">
        <br *ngIf="listing && highestBid">

        <h3 class="item-right" *ngIf="listing && !highestBid">Start price: £{{ listing?.startPrice }}</h3>
        <br *ngIf="listing && !highestBid">
        <br *ngIf="listing && !highestBid">

        <h3 class="item-right" *ngIf="buyItNowPrice && buyItNowPrice !=0 && (buyItNowPrice > highestBid || !highestBid)">Buy-it-now price: £{{ buyItNowPrice }} </h3>
        <br *ngIf="buyItNowPrice && buyItNowPrice !=0 && (!highestBid  || buyItNowPrice > highestBid)">
        <br *ngIf="buyItNowPrice && buyItNowPrice !=0 && (!highestBid || buyItNowPrice > highestBid)">

        <h3 class="item-right" *ngIf="distinctViewers" (click)="showBidHistory()">Total bids: {{ numberBids }}</h3>
        <br *ngIf="distinctViewers">
        <br *ngIf="distinctViewers">

        <br>
        <br>

        <h3 class="item-right" *ngIf="distinctViewers">Total viewings: {{ distinctViewers }}</h3>
        <br *ngIf="distinctViewers">
        <br *ngIf="distinctViewers">

        <h3 class="item-right" *ngIf="distinctViewers">Buyers watching: {{ watchers }}</h3>
        <br *ngIf="distinctViewers">
        <br *ngIf="distinctViewers">

        <h3 class="item-right" id="countdown" *ngIf="item != null"></h3>

        <br *ngIf="isExpired &&  highestBidderID != null">
        <br *ngIf="isExpired &&  highestBidderID != null">

        <h3 class="item-right link" id="auction-winner" *ngIf="isExpired &&  highestBidderID != null && highestBid >= reservePrice"
          [routerLink]="['/profile', highestBidderID]">
          {{ highestBidder?.username }}</h3>
        <h3 class="item-right" id="auction-winner" *ngIf="isExpired &&  highestBidderID != null && highestBid >= reservePrice">Winner:&nbsp;</h3>

      </div>
    </div>

    <app-feedback [user]="user" [buyerID]="highestBidderID" [subject]="highestBidder?.username" [sellerID]="listing?.sellerID" [item]="item"
      *ngIf="isExpired && highestBidderID != null && highestBid >= reservePrice && sellerFeedbackGiven == false && item?.sellerID === user.username"></app-feedback>

    <app-feedback [user]="user" [buyerID]="highestBidderID" [subject]="seller?.username" [sellerID]="listing?.sellerID" [item]="item"
      *ngIf="isExpired && buyerFeedbackGiven == false && highestBid >= reservePrice && highestBidderID == user.username"></app-feedback>

    <h3 class="reserve-notification" *ngIf="isExpired &&  highestBid < reservePrice">The reserve price has not been met, so there is no winner for the auction!&nbsp;</h3>


    <form *ngIf="user != null && listing?.sellerUsername != user.username && isExpired == false" id="bid-form">
      <div class="bid-box">
        <input type="number" [(ngModel)]="newBid" name="newBid" id="newBid" placeholder="Enter bid amount (£)">
        <input type="submit" value="Bid" id="submit-bid" (click)="bid()">
      </div>
      <br>
      <div class="bid-box">
        <input type="submit" value="Buy It Now" (click)="buyItNow()" id="buy-now-btn" *ngIf="buyItNowPrice && (buyItNowPrice > highestBid || !highestBid)">
        <input type="submit" value="Watch Auction" (click)="watchAuction()" id="watch-btn" *ngIf="isWatching === false && isOutbid == false && highestBidderID != user.username">
        <input type="submit" value="Remove from watch list" (click)="stopWatching()" *ngIf="isWatching === true && highestBidderID != user.username && isOutbid === false"
          class="stopwatching">
      </div>
    </form>

    <button class="reauction-button" (click)="reauction()" *ngIf="isExpired && (highestBid < reservePrice || highestBid === 0 || !highestBid) && listing?.sellerUsername === user.username">
      <span>Reauction Item</span>
    </button>

    <br>
  </div>

</section>

<section class="recommendations">



  <div class="grid-list-container tabcontent">
    <h3 class="recommended">Users who viewed this auction also viewed:</h3>
    <br>
    <mat-grid-list cols="3" gutterSize="16">
      <mat-grid-tile *ngFor="let item of recommendedAuctions">
        <app-item [item]="item" (click)="setItem(item)" [routerLink]="['/items', item?.auctionID]">
        </app-item>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
