<router-outlet></router-outlet>

<!-- card logout -->
<div class="card login">
  <img class="profile-photo" src="{{ this.user.photo }}" *ngIf="user!=null" (click)="goToMyProfile();">
  <label class="welcome-label" *ngIf="user!=null">Καλώς ήρθες, {{ user.firstName }}!</label>
  <h1 class="headline">OK!ERGO</h1>
  <button class="button" routerLink="/eggrafi" *ngIf="user==null">
    <span>Έγγραφή</span>
  </button>
  <button class="button" routerLink="/eisodos" *ngIf="user==null">
    <span>Είσοδος</span>
  </button>
  <button class="button" (click)="logout()" *ngIf="user!=null">
    <span>Έξοδος</span>
  </button>
  <button class="button" routerLink="/anazitisi" *ngIf="user!=null">
    <span>Κύρια σελίδα</span>
  </button>
</div>

<!-- item details -->
<section class="card my-listings" *ngIf="user!=null">
  <br>
  <div class="space-bot text-center">
    <h2>Οι αγγελίες μου</h2>
  </div>
  <br>

  <button class="add-listing-button" (click)="addListing()">
    <span>Νέα αγγελία</span>
  </button>
  <br>
</section>

<!-- item grid -->
<mat-card>
  <mat-card-content>
    <mat-tab-group class="tab-group" mat-stretch-tabs>
      <mat-tab label="My Auctions" class="tab">
        <h2 *ngIf="userAuctions !== null && userAuctions.length !== 0">Items that you are selling:</h2>
        <mat-grid-list class="grid-list-container" cols="3" gutterSize="16">
          <mat-grid-tile *ngFor="let item of userAuctions">
            <app-item [item]="item" (click)="setItem(item)" [routerLink]="['/items', item.auctionID]">
            </app-item>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="My Bids" class="tab">
        <h2 *ngIf="userTopBids !== null && userTopBids.length !== 0">Auctions where you are the current top bidder:</h2>
        <mat-grid-list class="grid-list-container" cols="3" gutterSize="16">
          <mat-grid-tile *ngFor="let item of userTopBids">
            <app-item [item]="item" (click)="setItem(item)" [routerLink]="['/items', item.auctionID]">
            </app-item>
          </mat-grid-tile>
        </mat-grid-list>
        <h2 *ngIf="userOutbid !== null && userOutbid.length !== 0">Auctions where you have been outbid:</h2>
        <mat-grid-list class="grid-list-container" cols="3" gutterSize="16">
          <mat-grid-tile *ngFor="let item of userOutbid">
            <app-item [item]="item" (click)="setItem(item)" [routerLink]="['/items', item.auctionID]">
            </app-item>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Watching" class="tab">
        <h2 *ngIf="userWatching !== null && userWatching.length !== 0">Auctions that you are watching:</h2>
        <mat-grid-list class="grid-list-container" cols="3" gutterSize="16">
          <mat-grid-tile *ngFor="let item of userWatching">
            <app-item [item]="item" (click)="setItem(item)" [routerLink]="['/items', item.auctionID]">
            </app-item>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>