.my-items .add-item-button {
  position: relative;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 10px;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.my-items {
  margin-top: 5%;
  width: 100%;
  background-color: #ECECEA;
}

.my-items .add-item-button span {
  cursor: pointer;
  transition: 0.5s;
}

.my-items .add-item-button span:after {
  content: '\00bb';
  opacity: 0;
  transition: 0.5s;
}

.my-items .add-item-button:hover span:after {
  opacity: 1;
}

:host {
  display: block;
}

.grid-list-container {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 16px;
  z-index: 4;
  border: none;
  margin-right: 10%;
   margin-left: 10%;

}

@import '../palette';
app-item {
  cursor: pointer;
}
