<router-outlet></router-outlet>

<!-- card logout -->
<section>
  <div class="card login">
    <img class="profile-photo" src="{{ this.user.photo }}" *ngIf="user!=null" (click)="goToMyProfile();">
    <label class="welcome-label" *ngIf="user!=null">Καλώς ήρθες, {{ user.firstName }}!</label>
    <h1 class="headline">OK!ERGO</h1>
    <button class="button" routerLink="/eggrafi" *ngIf="user==null">
      <span>Εγγραφή</span>
    </button>
    <button class="button" routerLink="/eisodos" *ngIf="user==null">
      <span>Είσοδος</span>
    </button>
    <button class="button" (click)="logout()" *ngIf="user!=null">
      <span>Έξοδος</span>
    </button>
    <button class="button" routerLink="/anazitisi" *ngIf="user!=null">
      <span>Κύρια σελίδα</span>
    </button>
  </div>
</section>

<br>

<!-- user details -->
<section class="user-details" *ngIf="user!=null">

  <div>
    <img class="viewingProfilePhoto centred" src="{{ profileUser?.photo }}">
    <h2 class="viewingProfileName centred" *ngIf="user.userID != profileUser?.userID">{{ profileUser?.username }}</h2>
    <h2 class="viewingProfileName centred" *ngIf="user.userID == profileUser?.userID">Το προφίλ μου</h2>
  </div>

  <div class="ratings">
    <div class="average-rating">
      <h3 class="vertical-align">Seller Rating:&nbsp;</h3>
      <div *ngIf="profileUser != null && !(averageSellerRating < 1)" class="star vertical-align" title="{{ profileUser.username }}'s average rating as a seller">
        <div class="rating" [style.width.%]="averageSellerRating">
          <span>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</span>
        </div>
      </div>
      <h6 class="ratingcount vertical-align" title="{{ sellerFeedbackCount }} people have rated {{ profileUser?.username }} as a seller."
        *ngIf="sellerFeedbackCount != 1">&nbsp;({{ sellerFeedbackCount }})</h6>
      <h6 class="ratingcount vertical-align" title="{{ sellerFeedbackCount }} person has rated {{ profileUser?.username }} as a seller."
        *ngIf="sellerFeedbackCount == 1">&nbsp;({{ sellerFeedbackCount }})</h6>
    </div>
  </div>

  <div class="feedback" *ngIf="sellerFeedbackCount > 0">
    <h3 *ngIf="sellerFeedbackCount > 0 " class="comments-title">Feedback from {{ profileUser?.username }}'s customers</h3>
    <ul class="feedback-list cf">
      <li class="feedbacklist-item cf" *ngFor="let feedback of userSellerFeedback">
        <app-feedback-item class="content" [feedback]="feedback">
        </app-feedback-item>
      </li>
    </ul>
    <hr>
  </div>

  <br>
  <br>

  <div class="container" *ngIf=" user.userID == profileUser?.userID">
    <form id="change-details-form">
      <h2 class="viewingProfileName centred" *ngIf="user.userID == profileUser?.userID">Προσωπικά στοιχεία</h2>

      <div class="row">
        <h4>Περιοχή</h4>
        <div class="col-half">
          <div class="input">
            <input type="text" [(ngModel)]="region" name="region" placeholder="Περιοχή" autocomplete="address-level3" />
          </div>
        </div>
        <div class="col-half">
          <div class="input">
            <input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone number" autocomplete="tel-national" />
          </div>
        </div>
      </div>

      <div class="row">
        <h4>Account</h4>
        <div class="col-half">
          <div class="input">
            <input type="text" [(ngModel)]="username" name="username" placeholder="Username" autocomplete="username" />
          </div>
        </div>
        <div class="col-half">
          <div class="input">
            <input type="password" [(ngModel)]="oldPassword" name="password" placeholder="Current password" autocomplete="new-password"
            />
          </div>
        </div>
        <div class="col-half">
          <div class="input">
            <input type="password" [(ngModel)]="password" name="password" placeholder="New password" autocomplete="new-password" />
          </div>
        </div>
        <div class="col-half">
          <div class="input">
            <input type="password" [(ngModel)]="confirmedPassword" name="confirmedPassword" placeholder="Confirm password" autocomplete="new-password"
            />
          </div>
        </div>
      </div>

      <br>
      <br>
      <h4>Φώτο προφίλ</h4>
      <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
      <br>
      <br>
      <br>
      <input type="submit" class="save-changes-button" value="Save Changes" (click)="changeDetails()">
    </form>
  </div>
</section>
<br>
<div class="user-listings">
  <h2 *ngIf="user.username != profileUser?.username">Αγγελίες</h2>
  <h2 *ngIf="user.username == profileUser?.username">Οι αγγελιές μου</h2>
  <div *ngIf="userListings != null">
    <h3 *ngIf="userListings.length == 0 && user.username != profileUser?.username" class="centred">There are no live auctions from this user at this time.</h3>
    <h3 class="no-listings-comment centred" *ngIf="userListings.length == 0 && user.username == profileUser?.username">You have no live auctions at this time</h3>
  </div>
  <button class="add-listing-button" (click)="addListing()" *ngIf=" user.username == profileUser?.username">
    <span>Add New Auction</span>
  </button>
  <!-- item grid -->
  <div class="grid-list-container">
    <mat-grid-list cols="3" gutterSize="16">
      <mat-grid-tile *ngFor="let item of userListings">
        <app-item [item]="item" (click)="setListing(item)" [routerLink]="['/aggelies', listing.listingID]">
        </app-item>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>