<br>
<h2 class="page-header" align="center">Transactions Page</h2>
<br>
<div align="center">
  Account balance: {{ balance }} ether

  <br>
  <br>

  <mat-form-field class="input-field">
    <input matInput [(ngModel)]="depositAmount" type="number" name="deposit" placeholder="enter deposit amount" class="deposit"
      (keyup.enter)="deposit(depositAmount);" />
  </mat-form-field>

  <br>
  <br>

  <!-- Search button -->
  <button mat-raised-button class="button" name="button" color="primary" type="submit" (click)="deposit(depositAmount);">Deposit</button>

  <br>
  <br>

  <br>
  <br>
  <span class="transactions-header">Option Portfolio</span>
  <br>
  <br>

  <ul>
    <li *ngFor="let option of options">
      Option #: {{ option.id }} &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; Underlying asset: {{ option.asset }} &nbsp;&nbsp;&nbsp;&nbsp;
      | &nbsp;&nbsp;&nbsp;&nbsp; Exercise price: {{ option.exercisePrice }} GBP &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
      Expiration date: {{ option.expirationDate.getDate() }}/{{ option.expirationDate.getMonth() + 1 }}/{{ option.expirationDate.getFullYear()
      }} &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; Exercised: {{ option.exercised }}
      <br>
      <br>
    </li>
  </ul>

  <br> Number of option contracts owned: {{ count }}

  <br>
  <br>

  <mat-form-field class="input-field">
    <input matInput [(ngModel)]="optionToExercise" type="number" name="optionToExercise" placeholder="enter option # to exercise"
      class="optionToExercise" (keyup.enter)="exerciseOption();" />
  </mat-form-field>

  <br>
  <br>

  <!-- Exercise button -->
  <button mat-raised-button class="button" name="button" color="primary" type="submit" (click)="exerciseOption();">Exercise</button>

</div>