<nav class="navbar navbar-default">
  <div class="container">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span routerLink="/">
          SMART OPTIONS SYSTEM
        </span>
        <span class="fill-remaining-space"></span>
        <button mat-button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Transactions</button>
        <button mat-button *ngIf="authService.loggedIn()" routerLink="/institutions">Institutions</button>
        <button mat-button *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
          routerLink="/rates">Market Rates</button>
        <button mat-button *ngIf="authService.loggedIn()" routerLink="/profile">Profile</button>
        <button mat-button *ngIf="!authService.loggedIn()" routerLink="/login">Login</button>
        <button mat-button *ngIf="authService.loggedIn()" (click)="onLogoutClick()">Logout</button>
        <button mat-button *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
          routerLink="/register">Register</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</nav>
